<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
关于潘江明
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 文章详情 -->
<div class="container">
    <div class="row">
        <!-- 标题 作者 -->
        <h1 class="col-12 mt-4 mb-4 display-1 text-center font-weight-normal">关于我</h1>
        <!-- 文章正文 -->
        <div class="col-12 text-center" style="font-size:27px">
            <p>
            <p>我是潘江明。</p>
            <p>一个有奇怪想法、整天逼逼叨叨的人。</p>
            <p>我在浙江省临安中学度过了快乐的三年。</p>
            <p>现就读于某双非（计算机科学与技术）。</p>
            <p>爱好：军模、编程、数学和美女。</p>
            <p>我的白日梦：</p>
            <p>带上快乐与相机，和喜欢的人走遍世界的角角落落。</p>
            </p>
            <blockquote class="blockquote text-center" style="font-size:24px">
                <footer class="blockquote-footer">来自 <cite title="Source Title">潘江明</cite></footer>
            </blockquote>
        </div>
    </div>
</div>

{% endblock content %}
