.ac-game-settings { /*加载登录注册页面的背景*/
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background5.gif");
    background-size: 100% 100%;
    user-select: none;
}

.ac-game-settings-login {   /*加载登录注册页面的小菜单*/
    height: 34vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, 0.7);
    border-radius: 10px;
}

.ac-game-settings-title {   /*加载排头*/
    color: white;
    font-size: 3vh;
    text-align: center;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.ac-game-settings-username {    /*用户名文本框*/
    display: block;
    height: 7vh;
}

.ac-game-settings-password {    /*密码文本框*/
    display: block;
    height: 7vh;
}

.ac-game-settings-submit {  /*登录注册按钮*/
    display: block;
    height: 7vh;
}

.ac-game-settings-other-login { /*第三方登录*/
    display: block;
    height: 7vh;
}

.ac-game-settings-item {    /*菜单内的小对象*/
    width: 100%;
    height: 100%;
}

.ac-game-settings-item > input {    /*文本框*/
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ac-game-settings-item > button {   /*按钮*/
    color: white;
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    border-radius: 5px;
}

.ac-game-settings-option {  /*login or register*/
    color: white;
    font-size: 2vh;
    display: inline;
    float: right;
    padding-right: 1vw;
    cursor: pointer;
}

.ac-game-settings-error-message {   /*错误登录信息*/
    color: red;
    font-size: 0.8vh;
    display: inline;
    float: left;
    padding-left: 1vw;
}

.ac-game-settings-other-login > div {   /*txt*/
    color: white;
    font-size: 2vh;
    display: block;
    text-align: center;
}

.ac-game-settings-other-login > img {   /*logo*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
}

.ac-game-settings-register {    /*注册界面小菜单*/
    height: 41vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, 0.7);
    border-radius: 10px;
}

.ac-game-menu { /*加载背景图片*/
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background1.gif");
    background-size: 100% 100%;
    user-select: none;  /*不可选中字符串*/
}

.ac-game-menu-field {   /*设置菜单位置*/
    width: 20vw;
    position: relative; /*相对位置*/
    top: 50%;
    left: 15%;
}

.ac-game-menu-field-item {  /*菜单按钮详细参数*/
    color: white;
    height: 6vh;
    width: 18vw;
    font-size: 4vh;
    font-style: italic;     /*斜体*/
    text-align: center;
    background-color: rgba(39,21,28, 0.6);  /*颜色RGB， 透明度*/
    border-radius: 20px;    /*矩形圆角*/
    letter-spacing: 0.5vw;  /*字符间空隙*/
    cursor: pointer;        /*更改指针状态*/
}

.ac-game-menu-field-item:hover {
    transform: scale(1.2);  /*按钮放大*/
    transition: 100ms;
}

.ac-game-helper {  /*菜单界面游玩提示*/
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background4.gif");
    background-size: 100% 100%;
    user-select: none;
}

.ac-game-helper-text {
    background-color: rgba(39,21,28, 0.5);
    border-radius: 20px;
    position: absolute;
    z-index: 100;
    width: 1000px;
    height: 400px;
    top: calc(50% - 250px);
    left: calc(50% - 500px);
    color: white;
    font-size: 30px;
    text-align: center;
}

.ac-game-helper-back {
    position: absolute;
    top: calc(50% + 200px);
    left: calc(45%);
    color: white;
    height: 45px;
    width: 10vw;
    font-size: 30px;
    font-style: italic;     /*斜体*/
    text-align: center;
    background-color: rgba(39,21,28, 0.6);  /*颜色RGB， 透明度*/
    border-radius: 20px;    /*矩形圆角*/
    letter-spacing: 0.5vw;  /*字符间空隙*/
    cursor: pointer;        /*更改指针状态*/
}

.ac-game-helper-back:hover {
    transform: scale(1.2);  /*按钮放大*/
    transition: 100ms;
}

.ac-game-changelog {
    position: absolute;
    z-index: 100;
    width: 600px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    background-color: white;
    border-radius: 10px;
    display: block;
    user-select: none;
}

.ac-game-changelog-logo {
    position: relative;
    top: 15px;
    left: calc(50% - 135px);
    width: 270px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("/static/image/menu/logo.png");
}

.ac-game-changelog-author {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

.ac-game-changelog-close {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: rgba(39,21,28, 0.2);
    color: #fff;
    right: 5px;
    top: 5px;
    text-align: center;
    cursor: pointer;
}

.ac-game-changelog-close:hover {
    background-color: red;
}

.ac-game-changelog-text {
    height: calc(100% - 150px);
    padding: 0 20px 50px 20px;
    border-top: solid 1px var(--b-alpha-5);
    color: var(--b-alpha-80);
    background-color: var(--bg-w-pure);
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    overflow-y: auto;
}


.ac-game-playground {   /*游戏背景，底色为黑*/
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: grey;
}

.ac-game-playground > canvas {  /*游戏画布居中*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ac-game-chat-field-history {
    position: absolute;
    top: 66%;
    left: 20%;

    transform: translate(-50%, -50%);

    width: 20%;
    height: 32%;

    color: white;
    font-size: 2vh;

    padding: 5px;
    overflow: auto;
}

.ac-game-chat-field-history::-webkit-scrollbar {
    width: 0;
}

.ac-game-chat-field-input {
    position: absolute;
    top: 86%;
    left: 20%;
    transform: translate(-50%, -50%);

    width: 20%;
    height: 3vh;

    color: white;
    font-size: 2vh;

    background-color: rgba(222,225,230, 0.2);
}

