body {
    cursor: url("/static/image/menu/point.png"), auto;
}

.ac-game-settings { /*加载登录注册页面的背景*/
    width: 100%;
    height: 100%;
    background-image: url("/static/image/settings/background7.gif");
    background-size: 100% 100%;
    user-select: none;
}

.ac-game-settings-login {   /*加载登录注册页面的小菜单*/
    height: 450px;
    width: 390px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, 0.7);
    border-radius: 10px;
}

.ac-game-settings-title {   /*加载排头*/
    color: white;
    font-size: 42px;
    text-align: center;
    padding-top: 27px;
    margin-bottom: 27px;
}

.ac-game-settings-username {    /*用户名文本框*/
    display: block;
    height: 93px;
}

.ac-game-settings-password {    /*密码文本框*/
    display: block;
    height: 93px;
}

.ac-game-settings-submit {  /*登录注册按钮*/
    display: block;
    height: 93px;
}

.ac-game-settings-item {    /*菜单内的小对象*/
    width: 100%;
    height: 100%;
}

.ac-game-settings-item > input {    /*文本框*/
    width: 90%;
    line-height: 42px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: url("/static/image/menu/text.png"), auto;
    padding: 0px;
}

.ac-game-settings-item > button {   /*按钮*/
    color: white;
    width: 90%;
    line-height: 42px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    border-radius: 5px;
    cursor: url("/static/image/menu/confirm.png"), auto;
}


.ac-game-settings-option {  /*login or register*/
    color: white;
    font-size: 27px;
    display: inline;
    float: right;
    padding-right: 15px;
    cursor: url("/static/image/menu/confirm.png"), auto;
}

.ac-game-settings-error-message {   /*错误登录信息*/
    color: red;
    font-size: 12px;
    display: inline;
    float: left;
    padding-left: 15px;
}

.ac-game-settings-register {    /*注册界面小菜单*/
    height: 542px;
    width: 390px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, 0.7);
    border-radius: 10px;
}

.ac-game-menu { /*加载背景图片*/
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background6.gif");
    background-size: 100% 100%;
    user-select: none;  /*不可选中字符串*/
}

.ac-game-menu-field {   /*设置菜单位置*/
    width: 200px;
    position: absolute; /*绝对位置*/
    top: 50%;
    left: calc(180px);
}

.ac-game-menu-field-item {  /*菜单按钮详细参数*/
    color: white;
    height: 50px;
    width: 230px;
    font-size: 35px;
    font-style: italic;     /*斜体*/
    text-align: center;
    background-color: rgba(39,21,28, 0.6);  /*颜色RGB， 透明度*/
    border-radius: 20px;    /*矩形圆角*/
    letter-spacing: 0.5vw;  /*字符间空隙*/
    cursor: url("/static/image/menu/hand.png"), auto;
}

.ac-game-menu-field-item:hover {
    transform: scale(1.2);  /*按钮放大*/
    transition: 100ms;
}

.ac-game-helper {  /*菜单界面游玩提示*/
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background8.gif");
    background-size: 100% 100%;
    user-select: none;
}

.ac-game-helper-text {  /*游玩提示文本*/
    background-color: rgba(39,21,28, 0.5);
    border-radius: 20px;
    position: absolute;
    z-index: 100;
    width: 1000px;
    height: 420px;
    padding: 10px;
    top: calc(50% - 250px);
    left: calc(50% - 500px);
    color: white;
    font-size: 30px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    text-align: center;
}

.ac-game-helper-back {  /*游玩提示返回菜单*/
    position: absolute;
    top: calc(50% + 220px);
    left: calc(45%);
    color: white;
    height: 45px;
    width: 10vw;
    font-size: 30px;
    font-style: italic;     /*斜体*/
    text-align: center;
    background-color: rgba(39,21,28, 0.6);  /*颜色RGB， 透明度*/
    border-radius: 20px;    /*矩形圆角*/
    letter-spacing: 0.5vw;  /*字符间空隙*/
    cursor: url("/static/image/menu/confirm.png"), auto;        /*更改指针状态*/
}

.ac-game-helper-back:hover {
    transform: scale(1.2);  /*按钮放大*/
    transition: 100ms;
}

.ac-game-changelog {    /*更新日志*/
    position: absolute;
    z-index: 100;
    width: 600px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    background-color: rgba(255,255,255, 0.8);
    border-radius: 18px;
    display: block;
    user-select: none;
}

.ac-game-changelog-logo {   /*更新日志logo*/
    position: relative;
    top: 15px;
    left: calc(50% - 135px);
    width: 270px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("/static/image/menu/logo.png");
}

.ac-game-changelog-author { /*作者*/
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

.ac-game-changelog-close {  /*关闭更新日志*/
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: rgba(39,21,28, 0.2);
    color: #fff;
    right: 5px;
    top: 5px;
    text-align: center;
    cursor: url("/static/image/menu/confirm.png"), auto;
}

.ac-game-changelog-close:hover {
    background-color: red;
}

.ac-game-changelog-text {   /*更新日志文本*/
    height: calc(100% - 300px);
    padding: 0 20px 50px 20px;
    border-top: solid 1px var(--b-alpha-5);
    color: var(--b-alpha-80);
    background-color: var(--bg-w-pure);
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    overflow-y: auto;
    font: 15px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.ac-game-changelog-text::-webkit-scrollbar {
    width: 0;
}

.message-board-title {
    position: absolute;
    top: calc(48% - 60px);
    right: 65px;
    width: 320px;
    height: 50px;
    color: white;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

.message-board-history {
    position: absolute;
    top: 48%;
    right: 65px;

    width: 320px;
    height: 300px;

    color: black;
    font-size: 18px;
    background-color: rgba(255,255,255, 0.8);

    padding: 5px;
    overflow-y: auto;
    border-radius: 10px;
}

.message-board-history::-webkit-scrollbar {
    width: 0;
}

.message-board-input {
    position: absolute;
    top: calc(48% + 330px);
    right: 65px;
    width: 330px;
    height: 27px;
    color: black;
    font-size: 18px;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 5px;
    padding: 0px;
    cursor: url("/static/image/menu/text.png"), auto;
}

.onlinedays {
    position: absolute;
    top: 15px;
    left: calc(50% - 200px);
    width: 400px;
    height: 30px;
    color: white;
    font-size: 25px;
    text-align: center;
}

.user-info-photo {
    position: absolute;
    top: 10px;
    right: 270px;
    width: 48;
    height: 48;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    cursor: url("/static/image/menu/confirm.png"), auto;
}

.user-info-username {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 260px;
    color: white;
    font-size: 24px;
    font-style: italic;
}

.ac-game-playground {   /*游戏背景，底色为黑*/
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: grey;
    cursor: url("/static/image/menu/fight.png"), auto;
}

.ac-game-playground > canvas {  /*游戏画布居中*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ac-game-chat-field-history {
    position: absolute;
    top: 66%;
    left: 20%;

    transform: translate(-50%, -50%);

    width: 20%;
    height: 32%;

    color: white;
    font-size: 2vh;

    padding: 5px;
    overflow: auto;
}

.ac-game-chat-field-history::-webkit-scrollbar {
    width: 0;
}

.ac-game-chat-field-input {
    position: absolute;
    top: 86%;
    left: 20%;
    transform: translate(-50%, -50%);

    width: 20%;
    height: 3vh;

    color: white;
    font-size: 2vh;
    cursor: url("/static/image/menu/text.png"), auto;
    padding: 0px;

    /*background-color: rgba(222,225,230, 0.2);*/
    background-color: rgba(255,255,255, 0.5);
}

