<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
    <div class="row mt-2">

        <!-- 文章内容 -->
        <div class="col-4 mb-4">
        <!-- 卡片容器 -->
            <div class="card h-100">
                <!-- 标题 -->
                <h4 class="card-header">Warlock War</h4>
                <!-- 摘要 -->
                <div class="card-body">
                    <p class="card-text">一个伟大的史诗级巨著</p>
                </div>
                <!-- 注脚 -->
                <div class="card-footer">
                    <a href="/game" class="btn btn-primary">进入游戏</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
